.event {
    position: absolute;
    width: 15px;
    height: 3px;
    border-radius: 150px;
    bottom: 5px;
    left: 12px;
    content: " ";
    display: block;
    background: #40ae08;
}

.event.busy {
    background: #f64747;
}
.cal-ticket-detail{
	margin-left: -4px;
}
.swal-wide{
    width:850px !important;
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimatio{
	z-index:1;
}
.navbar-vertical.navbar-expand-xs{
	z-index:1;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
	    border-left: 1px solid #d2d6da !important;
		border-right: 1px solid #d2d6da !important;
}
.btn {
	margin-bottom:0 !important;
}
.table > :not(caption) > * > *{
	/*padding:7px !important;*/
}
/*
.navbar-vertical.navbar-expand-xs .navbar-collapse{
	height: calc(100vh - 20vh) !important;
}
*/

.sigWrapper{
	height:100% !important;
}
*[contenteditable]{
	webkit-box-shadow: inset 1px 1px 2px #e9ecff !important;
    box-shadow: inset 1px 1px 2px #e9ecff !important;
}
#rJmlSoal td:first-child{
	border-width: 0px;
    width: 200px !important;
    border-top-width: 0px;
    border-top-style: hidden;	
}
#rRataRata{
	font-weight:bold;
	background-color:#f6f6f6 !important;
}
#rDeviasi{
	font-weight:bold;
	background-color:#f6f6f6 !important;
}
thead td{
	line-height:30px !important;
}
.rCol{
	background-color: #f0f2ff;
}
.bobot-label{
	max-width:200px !important;
}
tbody tr:hover{
	background-color:#d4e3ff;
}